# Virtual Environment
.venv
venv

# Data
data/*
src/assets/*
results/*.png

# Configs
configs/visualization/config_wandb.yaml


# Utils
*__pycache__*
.vscode
wandb
**Python**
run_scripts/stderr.txt
run_scripts/stdout.txt
